.hideme {
    padding: 20px;
    border-radius: 6px;
    font-size: 30px;
    opacity: 0;
    color: white
}
@media (max-width: 992px) {
    .btn {
        margin-bottom: 10px;
    }
}
.slicknav_menu {
    display: none;
}
@media (max-width: 1154px) {
    /* #menu is the original menu */
    #menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .slicknav_menu h3 {
        font-size: 19px;
    }
}
.menu-option {
    text-decoration: none;
    color: white;
}
.menu-option:hover {
    text-decoration: none;
    color: red;
    transition: 1s ease-in;
    cursor: grab;
}
