/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

@mixin centered
  text-align: center

#welcome
  @include centered
  margin-bottom: 0px

div img
  border-radius: 6px

#and-mig
  width: 300px
  height: 200px
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 100px
