/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.sass */
body, span, a {
  font-family: "Varela Round", sans-serif;
}

/* line 18, ../sass/screen.sass */
#welcome {
  text-align: center;
  margin-bottom: 0px;
}

/* line 22, ../sass/screen.sass */
#and-mig {
  width: 300px;
  height: 200px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
}

/* line 30, ../sass/screen.sass */
.footerItems:hover {
  opacity: 0.3;
}

/* line 37, ../sass/screen.sass */
.menu-option {
  text-decoration: none;
  color: white;
}
/* line 39, ../sass/screen.sass */
.menu-option:visited {
  text-decoration: none;
  color: white;
}
/* line 41, ../sass/screen.sass */
.menu-option:focus {
  text-decoration: none;
  color: white;
}
/* line 43, ../sass/screen.sass */
.menu-option:hover {
  text-decoration: none;
  color: red;
  transition: 1s ease-in;
  cursor: grab;
}

/* line 49, ../sass/screen.sass */
.slicknav_menu {
  display: none;
}

@media (max-width: 1154px) {
  /* line 53, ../sass/screen.sass */
  #menu {
    display: none;
  }

  /* line 55, ../sass/screen.sass */
  .slicknav_menu {
    display: block;
  }
  /* line 57, ../sass/screen.sass */
  .slicknav_menuh3 {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  /* line 61, ../sass/screen.sass */
  .overlay {
    height: 70% !important;
  }
}
@media (max-width: 992px) {
  /* line 65, ../sass/screen.sass */
  .btn {
    margin-bottom: 10px;
  }

  /* line 67, ../sass/screen.sass */
  #portfolio {
    padding: 0px !important;
  }

  /* line 69, ../sass/screen.sass */
  #bio {
    text-align: center !important;
  }
}
@media (max-width: 768px) {
  /* line 73, ../sass/screen.sass */
  #designedby {
    text-align: center !important;
  }
}
/* line 76, ../sass/screen.sass */
.flexing {
  display: flex;
  justify-content: center;
}

/* line 81, ../sass/screen.sass */
.header {
  font-family: "Raleway", sans-serif;
}

/* line 84, ../sass/screen.sass */
.hideme {
  font-size: 30px;
  opacity: 0;
  color: white;
}

/* line 89, ../sass/screen.sass */
.transparence h3 {
  opacity: 0;
}
/* line 91, ../sass/screen.sass */
.transparence h3:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* line 94, ../sass/screen.sass */
.workwithitem {
  max-width: none !important;
  max-height: 100% !important;
}

/* line 98, ../sass/screen.sass */
.hovereffect {
  height: 100%;
  width: 100%;
  max-height: 250px;
  max-width: 250px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
/* line 108, ../sass/screen.sass */
.hovereffect img {
  display: block;
  position: relative;
  width: auto;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 115, ../sass/screen.sass */
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 129, ../sass/screen.sass */
.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 0;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 143, ../sass/screen.sass */
.hovereffect a, .hovereffect p {
  margin-top: 10px;
  color: #FFF;
  font-size: 19px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 154, ../sass/screen.sass */
.plussign {
  margin: 36px auto;
}

/* line 157, ../sass/screen.sass */
.portfolio-blurb {
  min-height: 250px;
  max-height: 250px;
  max-width: 250px;
  height: 100%;
  text-align: center;
  font-size: 15px;
  background: rgba(0, 0, 255, 0.3);
  padding: 10px;
  display: flex;
  align-items: center;
}

/* line 170, ../sass/screen.sass */
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* line 176, ../sass/screen.sass */
.hovereffect:hover img {
  filter: url('data:image/svg+xmlcharset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}
/* line 180, ../sass/screen.sass */
.hovereffect:hover a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 182, ../sass/screen.sass */
.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  text-decoration: none;
  text-decoration-color: currentColor;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
